<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>

    <style>
        body {
            margin: 10px;
        }

    </style>

    <link rel="stylesheet" href="/css/layui.css">
    <script src="/jquery-3.3.1.min.js"></script>
    <script src="/layui.js"></script>
</head>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.config({
        dir: '/'
    })
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作l

        $.ajax({
            type: "GET",
            url: '/activity/find',
            dataType: "json",
            success: function (data) {
                if (data && data.data) {
                    var option = {
                        elem: '#demo'
                        , title: "活动表"
                        , toolbar: 'default'
                        , height: 530
                        , title: '用户表'
                        , page: true //开启分页
                        , limit: 10
                        , data: data.data
                        , cols: [
                            [ //表头
                                {type: 'checkbox', fixed: 'left'}
                                , {field: 'id', title: '活动ID', width: 80, sort: true}
                                , {field: 'titile', title: '活动标题', width: 80}
                                , {field: 'info', title: '活动描述', width: 90}
                                , {field: 'address', title: '活动地点', width: 80}
                                , {field: 'createBy', title: '创建人', width: 80}
                                , {field: 'organizer', title: '组织者', width: 150}
                                , {field: 'created', title: '创建时间', width: 200, sort: true}
                                , {field: 'type', title: '活动类型', width: 100, sort: true}
                                , {field: 'beginTime', title: '开始时间', width: 135, sort: true}
                                , {field: 'endTime', title: '结束时间', width: 135, sort: true}
                                , {field: 'hot', title: '热度', width: 135, sort: true}
                                , {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo'}
                            ]
                        ]
                    }
                    table.render(option);
                } else {
                    layer.msg(data.msg);
                }
            }
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    addActivity();
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });
    });

    //添加活动
    function addActivity() {
        $.get('/page/addDialog', function (str) {
            layer.open({
                title: '添加活动'
                , type: 1
                , content: str
                , area: ['800px', '500px']
            });
        });
    }
</script>
</body>
</html>


