<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>党员社区</title>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/jquery-3.3.1.min.js"></script>
    <script src="/layui.js"></script>

</head>

<body>
<div class="layui-container" style="overflow: visible">
<!--    导航栏-->
    <ul class="layui-nav" id="top" xmlns:th="http://www.thymeleaf.org">
        <li class="layui-nav-item layui-this">
            <a href="javascript:activityManager()">活动管理</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="">用户管理</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="">字典管理</span></a>
        </li>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" aria-level="rigth" th:if="${user!=null}" overflow="visible">
                <a href="#"><img src="#" class="layui-nav-img">[[${user.name}]]</a>
                <dl class="layui-nav-child" overflow="visible">
                    <dd><a href="#">个人信息</a></dd>
                    <dd><a href="/user/logout">退出登录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" aria-level="rigth" th:if="${user==null}">
                <a href="/page/login">登录</a>
            </li>
        </ul>
    </ul>

<!--    活动管理div-->
    <div id="activity-manager">
    </div>

<!--    用户管理div-->

<!--    字典管理div-->



</div>

</body>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
    $(function () {
        $("#activity-manager").load("/page/activityManager");
    });
    function activityManager() {
        $("#activity-manager").load("/page/activityManager");
    };

</script>
</html>